.main-div {
    background-image: url(https://www.w3schools.com/images/background_in_space.gif);
    height: 560px;
    background-position-x: center;
    background-position-y: center;
    overflow: hidden;
}

.inner-box {
    background-image: url(https://www.w3schools.com/images/lynx_in_space.png);
    height: 160px;
    width: 160px;
    position: absolute;
    top: 290px;
    right: 10%;
}

.inner-content {
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.inner-content h1{
    color: white;
}

.inner-content p{
    color: #FFF4A3;
}

svg{
    background-color: #D9EEE1;
}

.not-sure{
    font-size: 1.5rem;
    font-weight: bold;
}
